<a href="https://colab.research.google.com/github/j05k0/OZNAL_project/blob/master/BJ_OZNAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTS**

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [6]:
dataset = pd.read_csv("https://cloudstor.aarnet.edu.au/plus/s/2DhnLGDdEECo4ys/download?path=%2FUNSW-NB15%20-%20CSV%20Files&files=UNSW-NB15_1.csv")
#dataset = pd.read_csv("https://cloudstor.aarnet.edu.au/plus/s/2DhnLGDdEECo4ys/download?path=%2FUNSW-NB15%20-%20CSV%20Files%2Fa%20part%20of%20training%20and%20testing%20set&files=UNSW_NB15_training-set.csv")
dataset.head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,...,0,2,4,2,3,1,1,2,NaN,0

**Attacks by sbytes**

In [0]:
attacks_by_sbytes = dataset[['Label','proto','sbytes']]
attacks_by_sbytes = attacks_by_sbytes.groupby(['proto','Label']).mean().sort_values(['sbytes'], ascending=False)
attacks_by_sbytes = attacks_by_sbytes.head(15)
attacks_by_sbytes

                   sbytes
proto Label
tcp   1      29867.879065
sctp  1      13655.464286
rtp   0       8994.000000
tcp   0       6522.401940
ospf  1       6491.686275
icmp  0       1311.866667
mux   1        400.000000
rvd   1        400.000000
ospf  0        387.079498
st2   1        360.000000
cbt   1        360.000000
igmp  0        350.500000
pim   1        340.000000
udp   1        327.268841
      0        269.768228

In [0]:
plot_attacks_by_sbytes = attacks_by_sbytes.unstack().value_counts.plot(kind='bar')

NameError: ignored